body {
  font-family: arial;
  background: #f8f9fb; }

html, body, ul, ol, li, form, fieldset, legend {
  margin: 0;
  padding: 0; }

h1, h2, h3, h4, h5, h6, p {
  margin-top: 0; }

fieldset, img {
  border: 0; }

li {
  list-style: none; }

.wrapper {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

footer {
  background: #05386b;
  color: #f8f9fb; }

#main-nav {
  background: #05386b; }
  #main-nav ul {
    width: 100%; }
    #main-nav ul:after {
      content: "";
      display: block;
      clear: both; }
  #main-nav li {
    float: right;
    font-size: 22px;
    width: 33.33333%; }
    @media screen and (max-width: 860px) {
      #main-nav li {
        width: 100%; } }
  #main-nav a {
    color: #f8f9fb;
    text-decoration: none;
    padding: 16px;
    display: block;
    text-align: center; }
    #main-nav a:hover {
      background: #06427e; }

section h1 {
  font-size: 24px;
  color: #05386b; }
  @media screen and (max-width: 860px) {
    section h1 {
      font-size: 23px; } }

.lead-banner {
  with: 100%;
  position: relative;
  color: #6b3805;
  text-align: right; }
  .lead-banner .banner-content {
    position: absolute;
    top: 50px;
    width: 100%; }
  .lead-banner img {
    width: 100%; }
  .lead-banner span {
    font-size: 66px;
    display: block;
    text-transform: uppercase;
    font-weight: bold; }
  .lead-banner span.title {
    font-weight: normal;
    margin-bottom: 30px; }
  .lead-banner .banner-content span {
    font-size: 54px;
    text-align: left;
    color: #f8f9fb; }
    @media screen and (max-width: 860px) {
      .lead-banner .banner-content span {
        font-size: 23px;
        text-align: center; } }

.strainsTitle h1 {
  left: 50px; }

#specificStrainDetails li {
  float: right;
  margin-right: 4%;
  margin-bottom: 4%;
  width: 46%; }
  #specificStrainDetails li:nth-child(2-n) {
    margin-right: 100px; }
  #specificStrainDetails li li {
    width: 100%; }
  @media screen and (max-width: 860px) {
    #specificStrainDetails li h3 {
      font-size: 16px; } }
  @media screen and (max-width: 860px) {
    #specificStrainDetails li h5 {
      font-size: 14px; } }

#strainListBanner {
  background: #05386b; }
  #strainListBanner ul {
    width: 100%; }
    #strainListBanner ul:after {
      content: "";
      display: block;
      clear: both; }
    #strainListBanner ul #sectionHeading {
      color: #f8f9fb;
      font-size: 55px;
      text-decoration: none;
      padding: 14px;
      display: inline-block;
      text-align: left; }
      @media screen and (max-width: 860px) {
        #strainListBanner ul #sectionHeading {
          text-align: center;
          font-size: 20px; } }

.strainsTitle h1 {
  left: 50px; }

#specificEffectDetails li {
  float: right;
  margin-right: 4%;
  margin-bottom: 4%;
  width: 46%; }
  #specificEffectDetails li:nth-child(2-n) {
    margin-right: 100px; }
  #specificEffectDetails li li {
    width: 100%; }
  @media screen and (max-width: 860px) {
    #specificEffectDetails li h3 {
      font-size: 16px; } }
  @media screen and (max-width: 860px) {
    #specificEffectDetails li h5 {
      font-size: 14px; } }

#strainListBanner {
  background: #05386b; }
  #strainListBanner ul {
    width: 100%; }
    #strainListBanner ul:after {
      content: "";
      display: block;
      clear: both; }
    #strainListBanner ul #sectionHeading {
      color: #f8f9fb;
      font-size: 55px;
      text-decoration: none;
      padding: 14px;
      display: inline-block;
      text-align: left; }
      @media screen and (max-width: 860px) {
        #strainListBanner ul #sectionHeading {
          text-align: center;
          font-size: 20px; } }
